/* Importa a fonte */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,700;0,800;1,500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    color: #707070;
    background-color: #F7F7F7;
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 7%;
    box-shadow: 0px 5px 5px #EBEBEB;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-group {
    display: flex;
    align-items: center;
}
.header-link {
    font-style: italic;
    margin: 0.5rem 1rem;
    font-size: medium;
    transition: 0.1s ease-in;
}
.hover-line:hover {
    border-bottom: #B5C401 2px solid;
    cursor: pointer;
}

.header-title{
    font-size: 2rem;
}

.title-bottom-line{
    border-bottom: #B5C401 6px solid;
    border-radius: 4px;
}

main {
    padding: 3rem;
}

.bet-selector {
    display: flex;
    flex-direction: column;
}

.button {
    color: #27C383;
    border: #27C383 1px solid;
    padding: 1.3rem;
    background-color: transparent;
    font-weight: bold;
    border-radius: 1rem;
    margin-right: 1rem;
}

.primary {
    background-color: #27C383;
    color: snow;
    padding: 0.5rem 1.3rem;
    width: 10rem;
    margin-left: auto;
}
.button-group {
    margin-top: 1rem;
}

.button-selector {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: transparent;
    border: #7F3992 1px solid;
    color: #7F3992;
    font-style: italic;
    font-weight: bold;
    margin: 0px 0.3rem;
}

.number-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 60%;
    row-gap: 0.5rem;
}

.circle-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ADC0C4;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    color: snow;
    text-align: center;
    font-size: larger;
}